body {
  font-family: Arial, sans-serif;
  margin: 0.5;
  padding: 0;
  font-size: 18px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 35px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav a.active {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #f7f7f7;
  padding: 1em;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-size: 25px;
}

.img-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-right img {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

.text {
  width: 70%;
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 10px;
  font-size: 16px;
}

.quiz-result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.quiz-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-section form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.quiz-section label {
  margin-bottom: 10px;
  font-weight: bold;
}

.quiz-section select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quiz-section button[type="submit"]:hover {
  background-color: #555;
}
.quiz-section button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.quiz-result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .img-right {
    flex-direction: column;
  }
  .img-right img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .text {
    width: 100%;
  }
}