/* base.css */

/* Google Fonts */
 body {
   font-family: 'Roboto', sans-serif; 
   margin: 0;
   padding: 0; 
   background-color: #f4f4f4;
   color: #333;
}

header { 
  font-size: 1.3rem;
  background-color: #1e3a8a; 
  color: white;
  padding: 1rem; 
  text-align: center;
}

#course-title {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #0068f;
}

nav ul { 
  display: flex; 
  justify-content: center; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem; 
}

nav a {
  text-decoration: none;
  color: white; 
  font-weight: bold; 
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav a:hover { 
  background-color: #3b82f6; 
  border-radius: 5px;
}

main { 
  max-width: 1000px; 
  margin: 2rem auto;
  padding: 1rem; 
  display: grid; 
  gap: 2rem; 
}

.card { 
  background-color: white; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  padding: 1rem; 
  border-left: 4px solid #1e3a8a; 
}

.card-header { 
  background-color: #1e3a8a; 
  color: white; 
  padding: 1rem; 
  font-size: 2.5rem; 
  font-weight: bold;
  text-align: center; 
}

.card-body { 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 1rem; 
  flex-wrap: wrap; 
}

.card-text { 
  font-size: 1.5rem;
  flex: 1; 
}

.card img { 
  width: 450px; 
  height: auto; 
  padding: 1rem; 
  border-radius: 10px; 
}

footer { 
  background-color: #1e3a8a; 
  color: white; 
  text-align: center; 
  padding: 1rem; 
  margin-top: 2rem; 
}

#lastmodified { 
  font-style: italic; 
  font-size: 0.9rem; 
  color: #666;
}